@{
    ViewBag.Title = "DynamicDataViewData_ViewBag_View";
    var employee = ViewData["Employee"] as ASP.Net_MVC_Demo.Models.Employee;
    //或者employee = ViewBag.Employee;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>动态数据视图</title>
    </head>
    
    <body>
        <div>
            Employee Name: @employee.FirstName @employee.LastName<br />
            Employee Salary: @employee.Salary.ToString("C")<br />
        </div>
    </body>
</html>
