@{
    ViewBag.Title = "StaticDataView";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>静态数据视图</title>
    </head>
    
    <body>
        Welcome to MVC 5 Step by Step learning
    </body>
</html>